<%- include("../partials/head") %>


<body>
    <%- include("../partials/header") %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/4') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->

                <%- popularGirlNames[0] %>
                <%- popularGirlNames[1] %>
                <%- popularGirlNames[2] %>

                <a href='/question3'>Previous</a>
                <a href='/question5'>Next</a>
            </div>
        </div>
    </div>
</body>