<%- include("../partials/head") %>


<body>
    <%- include("../partials/header") %>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/5') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <ol>
                    <% popularGirlNames.forEach((name,id)=>{%>
                    <li> <%= id+1 %>. <%=name%></li>
                    <%}); %>
                </ol>

                <a href='/question6'>Previous</a>
                <a href='/question4'>Next</a>

            </div>
        </div>
    </div>
</body>